html {
  background-color: rgb(66, 66, 66);
}
.App{
  width: 100%;
  text-align: center;
  padding: 5%;
  background-color: rgb(66, 66, 66);
  height: 100%;
  color: whitesmoke;
}

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-control {
  width: 50%;
  text-align: center;
}
