html {
  background-color: rgb(66, 66, 66);
}
.App{
  width: 100%;
  text-align: center;
  padding: 5%;
  background-color: rgb(66, 66, 66);
  height: 100%;
  color: whitesmoke;
}

.main-title {
  margin-bottom: 30px;
  font-size: 40px;
}

.form {
  display: flex;
  justify-content: center;
}

.form-group {
  width: 25%;
}

.form-control {
  width: 95%;
  text-align: center;
}

.search-button {
  align-self: center;
  margin-top: 15px;
}

.recipe-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipe-item {
  color: black;
  display: flex;
  width: 55%;
  border: black solid 1px;
  border-radius: 4px;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 5px;
}

.recipe-title {
  display: inline-block;
  text-align: left;
  padding-right: 10px;
  width: 400px;
}

.recipe-image {
  display: inline-block;
  width: 243px;
  height: 125px;
  object-fit: cover;
  border: solid black 1px;
  border-radius: 4px;
}

.star {
  cursor: pointer;
  font-size: 30px;
  margin-left: 15px;
  color: blue;
}

.link {
  position: absolute;
  left: 30px;
  top: 30px;
}
